
<head>
    <meta charset="utf-8">
    <title>Paint</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <canvas id='canvas' height='500' width='500'></canvas>

 <!--    <form id="save_version" method="post" action="/canvas">
      <input type="Submit" value="Save Current Version">
    </form> -->


    <button id="save_version">Save Current Version</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/doodler.js"></script>
  </body>

</html>
