
<head>
    <meta charset="utf-8">
    <title>Paint</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container">
    </br>
    <h1>Snapkins</h1>
    <p>"When there's no napkins, there's snapkins!"</p>
    <canvas id='canvas' height='450' width='450'></canvas>    
    <button>
      <FONT COLOR="#FF0000">S</FONT>
      <FONT COLOR="#FFff00">A</FONT>
      <FONT COLOR="#00ff00">V</FONT>
      <FONT COLOR="#00ffff">E</FONT>
    </button>
  </container>

    
    <script type="text/javascript" src="application.js"></script>
    <script type="text/javascript" src="doodler.js"></script>
</body>

</html>
