<head>
  
  <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
  <div id="container">
    <canvas id="doodleView" width ="500" height = "500">
  </div>


  <script type="text/javascript" src="doodler.js"></script>
</body>

