
<head>
    <meta charset="utf-8">
    <title>Paint</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <canvas height='500' width='500'></canvas>

    

  </body>

    <script src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="example1.js"></script>
</html>
