body {
  background-image: url('desktop.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
}

#container {
  width: 671px;
  height: 652px;
  background-image: url('Snapkin.png');
  margin: 0 auto;
}

canvas {
  background-color: black;
  border: 4px solid gray;
  border-radius: 10%; 
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1, p {
  text-align: center

}

button {
    border-radius: 100%;
    padding: 10px 15px;
    background: black;
    color: #FFF;
    float: right;
    margin-right:20px;
}
